body {background-color:#f7f7f7;}
.center {text-align:center;}
.hide {display:none;}
.one-third h4 {margin-top:30px;}
#title {margin-top:80px;}
#title a {text-decoration:none;}
#layout {text-align:center;}
#upload_file_form a.button {padding:0px; position:relative; cursor:pointer;}
#upload_file_form a span {position:absolute; line-height:30px; font-size:14px; left:0px; width:220px; text-align:center; cursor:pointer; height:30px; display:block;}
#upload_file_form #upload_file {width:220px; height:30px; cursor:pointer; opacity:0; filter:alpha(opacity=0); font-size:35px; position:relative;} /*use position block level*/
#upload_file_form, #input_code_form {position:relative;}
#input_code {display:inline; position:relative; height:20px;}
.code_notice_box {position:absolute; font-size:10px; top:7px; right:125px; box-shadow:0 0 3px #888; border-radius:2px; padding:0 1px;}

#header {/*padding-bottom:80px;*/ border-bottom:1px solid #e1e1e1; margin-bottom:50px;}
#header #nav {margin:auto;}
#header #nav ul li {float:left; margin-top:9px;}
#header #nav ul li a {padding:10px 15px; background-color:#f1f1f1; text-decoration:none; transition:background-color 1s; -webkit-transition:background-color 1s; -moz-transition:background-color 1s; -o-transition:background-color 1s;}
#header #nav ul li a:hover {background-color:#e9e9e9; box-shadow:0px 3px 0px #d0d0d0;} 

#bottom p {font-size:13px; margin-top:80px;}
.entry_hover:hover {background-color:#f1f1f1; border-radius:3px; box-shadow:0px 0px 2px #ccc;}
.entry h4 {margin-top:20px;}
.entry form, #file_code h3 {margin-top:40px; height:50px;}
#file_code, #get_file {display:none;}

.recommend_browder {text-align:center; display:none; background-color:#FFFFB4; line-height:40px;}

.error {color:#da4f49;}
.warn {color:#faa732;}
.notice {color:#5bb75b;}
.file_upload_error {position:absolute; top:7px; right:-2px; font-size:11px;}

#slug {height:150px; line-height:150px; font-size:28px; font-family:'Crimson Text', serif; margin:8px auto; font-style:italic;}
#slug span {font-size:13px;}
#slug img {box-shadow:0 0 10px #ccc;}

.show_slug, .create_qr, .send_email, .send_phone {cursor:pointer;}
